body {
  background: radial-gradient(circle at top, #1b0f2f, #07010f);
  color: rgb(186, 96, 194);
  font-family: Arial;
}

.search-section {
  text-align: center;
  padding: 60px 20px;
}

.filters {
  margin: 30px 0;
}

.filters select,
.filters input,
.filters button {
  padding: 12px 18px;
  margin: 8px;
  border-radius: 20px;
  border: none;
}

.filters button {
  background: #434143;
  font-weight: bold;
  cursor: pointer;
}

.donor-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.donor-card {
  background: rgba(255,255,255,0.12);
  padding: 25px;
  width: 220px;
  border-radius: 18px;
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  transition: 0.4s;
}

.donor-card:hover {
  transform: scale(1.08);
}
